@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
#contain{
    margin: 0px;
    padding: 0px;
    background: #F6F7FF;
    text-align: center;
    margin-top: 2.6em;
}
.head{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #25274d;
}
.role{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem !important;
    color: #25274d;
}
strong{
  display: block;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: .4em;
}
.bt{
    background-color: whitesmoke;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 210px;
    width: 248px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #25274d;
    margin: 0.5%;
    margin-left: 2em;
    margin-right: 2em;

}
i{
    font-size: .9rem;
    font-style: normal;
}
.btn{
    background-color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 210px;
    width: 248px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: #25274d;
    padding-top: 15px;
    margin: 0.5%;
}
.it{
    margin: 5px;
    padding: 5px;
    text-align: center;
    outline: none;

}
.bt{
    text-align: center;
}
.btn{
    text-align: center;
}
.bot{
    width: 258px;
    height: 64px;
    border-radius: 50px;
    outline: none;
    box-shadow: 1px grey 1;
    cursor: pointer;
    background-color: #25274d;
    border: none;
    color: white;
    margin-top: 3em;;
    text-align: center;
}
.bt:focus{
    background-color: #25274d;
    color: white;
}
.btn:focus{
    background-color: #25274d;
    color: white;
}
.bot:hover{
    background-color: #000643;
}
/*Media Queries*/
@media screen and (max-width: 530px)
{

.btn{
    margin: 2%;
    width: 200px;
    height: 190px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.bt{
    margin: 2%;
    width: 200px;
    height: 190px;
}
.bot{
    margin-top: 0.5%;
}
