body{
    background: #F6F7FF;
}
input{
background: #FFFFFF;
border: 2px solid rgba(37, 39, 77, 0.1) !important;
height: 50px !important;
border-radius: 50px !important;
padding-left: 6% !important;
color: rgba(37, 39, 77, 0.76) !important;
}
button[type = "submit"], button[type = "submit"]:hover, button[type = "submit"]:active, button[type = "submit"]:focus{
    width: 240px;
    height: 45px;    background: #25274D;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    color: #fff;
}
.header-text{
    font-size:108%;
    line-height: 17px;
    text-align: center;
    color: #25274D;
}
label.final-form-label{
    display: none;
}
#error-text{
    color: rgb(255, 0, 0);
}
